.root{
	-fx-background-color: red;
	-fx-font-family: "Arial";
}

#startPauseBtn{
	-fx-background-color: #555;
	-fx-text-fill: #f6f6f6;
	-fx-font-family: "Arial";
	-fx-font-weight: 100;
	-fx-font-size: 25px;
}

#nextGeneration {
	-fx-background-color: #888;
	-fx-text-fill: #f6f6f6;
	-fx-font-family: "Arial";
	-fx-font-weight: 100;
	-fx-font-size: 25px;
}

#clearBtn{
	-fx-background-color: #888;
	-fx-text-fill: #f6f6f6;
	-fx-font-family: "Arial";
	-fx-font-weight: 100;
	-fx-font-size: 25px;
}

#startPauseBtn:hover {
	-fx-background-color: #b3e6b3;
}

#nextGeneration:hover {
	-fx-background-color: #b3e6b3;
}

#clearBtn:hover {
	-fx-background-color: #b3e6b3;
}

#pane{
	-fx-background-color: white;
	-fx-font-family: "Arial";
	-fx-font-size:16px;
}

#colorPicker{
	-fx-background-color: lightgrey;
}

#pattern{
	-fx-background-color: lightgrey;

}
